
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<!--script type="text/javascript" src="/assets/js/does_connection_exist.js"></script-->

<style>
  #clearButton {
    display: none;
  }

  .inputFrameClass {
    width: 95% !important;
    height: 90%;
  }

  #demographics {
    width: 100%;
    border-collapse: collapse;
  }

  #demographics th, #demographics td {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }

  .text {
    text-align: left;
    margin-left: 10px;
  }

  .headers {
    border-right-width: 2px !important;
    width: 15%;
  }

  .button-container {
    width: 10%;
  }

  .data {
    padding-left: 15px;
  }

  #incomplete-demographics {
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(black, 0.2);
    left: 50%;
    max-width: 90%;
    position: absolute;
    top: 36%;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    max-height: 90vh;
    flex-direction: column;
    z-index: 1000000;
    border-color: black;
    border-style: solid;
    display: none;
  }

  #page-cover {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 102%;
    left: 0%;
    top: 0%;
    z-index: 999;
    opacity: 0.65;
  }

</style>

<body id="mateme">
  <div id="container">
      <div id="content">
  
        <form>
          <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';buildTable();"
          tt_pageStyleClass="NoControls" 
          helpText="Edit demographics" optional="true"/>
        </form>

  </div>

  <div id="incomplete-demographics">
  <div id="enrolled-program-inner">
    <div class="modal-content">
      <div class="modal-body">
        <h1 style="text-align: center" class="text-uppercase">
          Client does not have complete Demographics </p>
          Please update
        </h1>
      </div>
      <div class="modal-footer">
          <button class="button green navButton" onmousedown="closeDiv('incomplete-demographics');closeDiv('page-cover')"
          style="float: right; width: 120px;" id="continue"><span>Ok</span></button>
      </div>
    </div>
  </div>
</div>

<div id="page-cover"></div>
</body>


<script>
var source = 'Confirmation page';
let mainUrl = window.location.href;
mainUrl = new URL(mainUrl);
mainUrl.searchParams.get("source") ? (source = mainUrl.searchParams.get("source")) : source;

function finishButton() {
    let url = source == 'Patient Dashboard' ? `/views/patient_dashboard.html?patient_id=${sessionStorage.patientID}`
      : `/views/confirm.html?person_id=${sessionStorage.patientID}`;
    window.location  = url;
}

function closeDiv(id) {
  var x = document.getElementById(id);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function configCancelBTN() {
  let cancelButton = document.getElementById("cancelButton");

  if(source != "Patient Dashboard"){
    tt_cancel_destination = "/"; //`/views/confirm.html?person_id=${sessionStorage.patientID}`;
  }else{
    cancelButton.style = "display: none;";
  }
}

function buildTable(){
  let nextButton = document.getElementById('nextButton');
  nextButton.setAttribute("onmousedown", "finishButton();");
  configCancelBTN();
  let innerHTML = `<table id="demographics">
  </table>`;
  
  inputFrame = document.getElementById('inputFrame' + tstCurrentPage);
  inputFrame.innerHTML = innerHTML;
  fetchDemographics();
}

function fetchDemographics(){
    let url = sessionStorage.apiProtocol + '://'+apiURL+':'+apiPort+'/api/v1/patients/' + sessionStorage.patientID;
    let req = new XMLHttpRequest();

    req.onreadystatechange = function(){
      if (this.readyState == 4) {
        if (this.status == 200) {
          var results = JSON.parse(this.responseText);
          let values = []
          values.push({
            title: 'Name',
            id: 'name',
            value: results.person.names[0].given_name + " " + results.person.names[0].family_name,
            function: 'editName'
          });

          let gender;
          try {
            gender = results.person.gender.match(/F/i) ? 'Female' : 'Male';
          }catch(e){
            gender = ''
          }

          values.push({
            title: 'Gender' ,
            value: gender,
            function: 'editGender'
          });

          values.push({
            title: 'Birthdate',
            value: moment(results.person.birthdate).format("DD/MMM/YYYY"),
            function: 'edithBirthdate'
          });
          let ancentory_district = '';
          let ancentory_ta = ''; 
          let ancentory_village = '';
          let current_district = '';
          let current_ta = '';
          let current_village = '';

          try {
          ancentory_district = results.person.addresses[0].address2;
          ancentory_ta = results.person.addresses[0].county_district;
          ancentory_village = results.person.addresses[0].neighborhood_cell;
          } catch {}
          values.push({
            title: 'Ancentory address',
            value: `${ancentory_district} | ${ancentory_ta} | ${ancentory_village}`,
            function: 'editAddresses'
          });


          try {
            current_district = results.person.addresses[0].state_province;
            current_ta = results.person.addresses[0].township_division;
            current_village = results.person.addresses[0].city_village;
          }catch {}
          values.push({
            title: 'Current address',
            value: `${current_district} | ${current_ta} | ${current_village}`,
            function: 'editAddresses' 
          });

          var identifiers = results.person.person_attributes;
          let attribute = identifiers.filter(attr =>  {
            return attr.person_attribute_type_id === 12;
          });

          values.push({
            title: 'Cellphone',
            value: attribute.length > 0 ? attribute[0].value : "Unknown",
            function: 'editCellphone'
          });

          let table = document.getElementById("demographics");
          for(value of values){
            table.innerHTML += `<tr>
              <td class="text headers">${value.title}</td>
              <th class="text data">${value.value}</th>
              <td class="button-container"><button class="button blue navButton" 
                onmousedown="${value.function}();"><span>Edit</span></button></td>
            </tr>`;
          }
        }
      }
    };
    try {
        req.open('GET', url, true);
        req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
        req.send(null);
    } catch (e) {
    }
}


function editName() {
    var url = '/views/patient/edit_demographics/name.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

  function editGender() {
    var url = '/views/patient/edit_demographics/gender.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

  function edithBirthdate(){
    var url = '/views/patient/edit_demographics/birthdate.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

  function editCellphone() {
    var url = '/views/patient/edit_demographics/cellphone.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

  function editBirthdate() {
    var url = '/views/patient/edit_demographics/birthdate.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

  function editAddresses() {
    var url = '/views/patient/edit_demographics/addresses.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

</script>
