
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<!--script type="text/javascript" src="/assets/js/does_connection_exist.js"></script-->

<style>
  #clearButton {
    display: none;
  }

  .inputFrameClass {
    width: 95% !important;
    height: 90%;
  }

  #demographics {
    width: 100%;
    border-collapse: collapse;
  }

  #demographics th, #demographics td {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }

  .text {
    text-align: left;
    margin-left: 10px;
  }

  .headers {
    border-right-width: 2px !important;
    width: 15%;
  }

  .button-container {
    width: 10%;
  }

  .data {
    padding-left: 15px;
  }
</style>

<body id="mateme">
  <div id="container">
      <div id="content">
  
        <form>
          <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';buildTable();"
          tt_pageStyleClass="NoControls" 
          helpText="Edit demographics" optional="true"/>
        </form>

  </div>
</body>


<script>
var source = 'Confirmation page';
let mainUrl = window.location.href;
mainUrl = new URL(mainUrl);
mainUrl.searchParams.get("source") ? (source = mainUrl.searchParams.get("source")) : source;

function finishButton() {
  let url = source == 'Patient Dashboard' ? `/views/patient_dashboard.html?patient_id=${sessionStorage.patientID}`
    : `/views/confirm.html?person_id=${sessionStorage.patientID}`;
  window.location  = url;
}

function configCancelBTN() {
  let cancelButton = document.getElementById("cancelButton");

  if(source != "Patient Dashboard"){
    tt_cancel_destination = "/"; //`/views/confirm.html?person_id=${sessionStorage.patientID}`;
  }else{
    cancelButton.style = "display: none;";
  }
}

function buildTable(){
  let nextButton = document.getElementById('nextButton');
  nextButton.setAttribute("onmousedown", "finishButton();");
  configCancelBTN();
  let innerHTML = `<table id="demographics">
  </table>`;
  
  inputFrame = document.getElementById('inputFrame' + tstCurrentPage);
  inputFrame.innerHTML = innerHTML;
  fetchDemographics();
}

function fetchDemographics(){
    let url = sessionStorage.apiProtocol + '://'+apiURL+':'+apiPort+'/api/v1/patients/' + sessionStorage.patientID;
    let req = new XMLHttpRequest();

    req.onreadystatechange = function(){
      if (this.readyState == 4) {
        if (this.status == 200) {
          var results = JSON.parse(this.responseText);
          let values = []
          values.push({
            title: 'Name',
            value: results.person.names[0].given_name + " " + results.person.names[0].family_name,
            function: 'editName'
          });

          let gender;
          try {
            gender = results.person.gender.match(/F/i) ? 'Female' : 'Male';
          }catch(e){
            gender = ''
          }

          values.push({
            title: 'Gender' ,
            value: gender,
            function: 'editGender'
          });

          values.push({
            title: 'Birthdate',
            value: moment(results.person.birthdate).format("DD/MMM/YYYY"),
            function: 'edithBirthdate'
          });

          let ancentory_district = results.person.addresses[0].address2;
          let ancentory_ta = results.person.addresses[0].neighborhood_cell;
          let ancentory_village = results.person.addresses[0].county_district;
          values.push({
            title: 'Ancentory address',
            value: `${ancentory_district} | ${ancentory_ta} | ${ancentory_village}`,
            function: 'editAddresses'
          });

          
          let current_district = results.person.addresses[0].state_province;
          let current_ta = results.person.addresses[0].township_division;
          let current_village = results.person.addresses[0].city_village;
          values.push({
            title: 'Current address',
            value: `${current_district} | ${current_ta} | ${current_village}`,
            function: 'editAddresses' 
          });

          var identifiers = results.person.person_attributes;
          let attribute = identifiers.filter(attr =>  {
            return attr.person_attribute_type_id === 12;
          });

          values.push({
            title: 'Cellphone',
            value: attribute.length > 0 ? attribute[0].value : "Unknown",
            function: 'editCellphone'
          });

          let table = document.getElementById("demographics");
          for(value of values){
            table.innerHTML += `<tr>
              <td class="text headers">${value.title}</td>
              <th class="text data">${value.value}</th>
              <td class="button-container"><button class="button blue navButton" 
                onmousedown="${value.function}();"><span>Edit</span></button></td>
            </tr>`;
          }
        }
      }
    };
    try {
        req.open('GET', url, true);
        req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
        req.send(null);
    } catch (e) {
    }
}

function editName() {
    var url = '/views/patient/edit_demographics/name.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

  function editGender() {
    var url = '/views/patient/edit_demographics/gender.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

  function editCellphone() {
    var url = '/views/patient/edit_demographics/cellphone.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

  function editBirthdate() {
    var url = '/views/patient/edit_demographics/birthdate.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

  function editAddresses() {
    var url = '/views/patient/edit_demographics/addresses.html?patient_id='+ sessionStorage.patientID;
    document.location = url;
  }

</script>